body{
  text-align: center;
  background-color: greenyellow;
}
.form-inputs{
  top: 200px;
  width: 400px;
  height: auto;
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
  border-radius: 10px;
  background-color: #ffffff;
}

.input-area{
  width: 300px;
  padding: 10px 15px;
  margin-bottom: 15px;
}
.submit-btn{
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: green;
}



